<mat-form-field>
  <mat-label *ngIf="monthEnd == false">Enter Month (From)</mat-label>
  <mat-label *ngIf="monthEnd == true">Enter Month (To)</mat-label>
  <mat-label *ngIf="monthEnd == null">Enter Month</mat-label>
  <input matInput [matDatepicker]="picker" [formControl]="date!" />
  <mat-hint>MM/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker
    #picker
    startView="multi-year"
    (monthSelected)="addEvent($event, picker)"
    panelClass="month-picker"
  ></mat-datepicker>
</mat-form-field>
